/node_modules
/public/hot
/public/storage
/public/img
/public/js
/public/css
/resources/js/enums.js
/resources/js/ziggy.js
/storage/*.key
/vendor
.env
.env.testing
.env.backup
.phpunit.result.cache
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
READMElaravel.md
/routes/test.php
