// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//apps css

@import 'my_full_screen_page';
@import 'general';
@import 'student-guest';
